<%- include ("templates/header.ejs", {titulo:"Recibe datos"}) %>

<div class="alert alert-primary">Nombre: <%= nombre %></div>
<div class="alert alert-success">Edad: <%= edad %></div>

<%- include ("templates/footer.ejs") %>